<header class="navbar bg-base-100 shadow-lg sticky top-0 z-50">
  <div class="navbar-start">
    <div class="flex items-center gap-2">
      <div
        class="w-8 h-8 bg-primary rounded-lg flex items-center justify-center"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          class="text-primary-content"
        >
          <path
            d="M3 7H9V3H3V7ZM15 3V7H21V3H15ZM3 21H9V15H3V21ZM12 12H15V9H12V12ZM12 15H15V12H12V15ZM12 21H15V18H12V21ZM18 12H21V9H18V12ZM18 15H21V12H18V15ZM18 21H21V18H18V21Z"
            fill="currentColor"></path>
        </svg>
      </div>
      <span class="text-xl font-bold">Personal QR</span>
    </div>
  </div>
  <nav class="navbar-center max-md:hidden">
    <ul class="group cursor-pointer flex items-center gap-5">
      <li
        class="group-hover:blur-[1px] hover:blur-none hover:underline decoration-2 underline-offset-2 decoration-accent transition-all duration-500"
      >
        <a href="/">Home</a>
      </li>
      <li
        class="group-hover:blur-[1px] hover:blur-none hover:underline decoration-2 underline-offset-2 decoration-accent transition-all duration-500"
      >
        <a href="/about">About</a>
      </li>
      <li
        class="group-hover:blur-[1px] hover:blur-none hover:underline decoration-2 underline-offset-2 decoration-accent transition-all duration-500"
      >
        <a href="/">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="navbar-end max-md:hidden">
    <a href="/auth/signinpage" class="btn btn-primary">Get Started</a>
  </div>
  <div class="navbar-end md:hidden drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <!-- Page content here -->
      <label for="my-drawer" class="drawer-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-logs-icon lucide-logs"
          ><path d="M13 12h8"></path><path d="M13 18h8"></path><path d="M13 6h8"
          ></path><path d="M3 12h1"></path><path d="M3 18h1"></path><path
            d="M3 6h1"></path><path d="M8 12h1"></path><path d="M8 18h1"
          ></path><path d="M8 6h1"></path></svg
        ></label
      >
    </div>
    <div class="drawer-side">
      <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"
      ></label>
      <div class="menu bg-base-200 text-base-content min-h-full w-80 relative">
        <div class="flex items-center gap-2">
          <div
            class="w-8 h-8 bg-primary rounded-lg flex items-center justify-center"
          >
            <svg
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              class="text-primary-content"
            >
              <path
                d="M3 7H9V3H3V7ZM15 3V7H21V3H15ZM3 21H9V15H3V21ZM12 12H15V9H12V12ZM12 15H15V12H12V15ZM12 21H15V18H12V21ZM18 12H21V9H18V12ZM18 15H21V12H18V15ZM18 21H21V18H18V21Z"
                fill="currentColor"></path>
            </svg>
          </div>
          <span class="text-xl font-bold">Personal QR</span>
        </div>
        <div class="mt-5">
          <ul>
            <li>
              <a href="/" class="flex items-center justify-between">
                <span>Home</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-house-icon lucide-house"
                  ><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"
                  ></path><path
                    d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
                  ></path></svg
                >
              </a>
            </li>
            <li>
              <a href="/about" class="flex items-center justify-between">
                <span>About</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-info-icon lucide-info"
                  ><circle cx="12" cy="12" r="10"></circle><path d="M12 16v-4"
                  ></path><path d="M12 8h.01"></path></svg
                >
              </a>
            </li>
            <li>
              <a href="/" class="flex items-center justify-between">
                <span>Contact</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-book-user-icon lucide-book-user"
                  ><path d="M15 13a3 3 0 1 0-6 0"></path><path
                    d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20"
                  ></path><circle cx="12" cy="8" r="2"></circle></svg
                >
              </a>
            </li>
          </ul>
        </div>
        <a
          href="/auth/signinpage"
          class="btn btn-primary absolute bottom-0 w-full left-0 rounded-none"
          >Get Started
        </a>
      </div>
    </div>
  </div>
</header>
